POSTGRES_USER=CHANGEME_eyadmin
POSTGRES_PASSWORD=CHANGEME_eypass
VOLUMES_DIR=./data
CONFIG_DIR=./config
WATCHTOWER_NOTIFICATION_URL=
EVENTYAY_TALK_REPO=./workdir/eventyay-talk
EVENTYAY_TICKET_REPO=./workdir/eventyay-tickets
EVENTYAY_VIDEO_REPO=./workdir/eventyay-video
