[filesystem]
data = /data
media = /data/media
logs = /data/logs

[site]
; never run debug in production
debug = False
url = http://localhost

[database]
backend = postgresql
name = eventyay_db
user = postgres_db_user_changeme
password = postgres_db_pwd_changeme
host = db
port = 5432

[mail]
from = office@fossasia.org 
host = smtp
port = 25
#user = admin
#password = something
#tls = False
#ssl = True

[celery]
backend = redis://redis/1
broker = redis://redis/2

[redis]
location=redis://redis/0
; Remove the following line if you are unsure about your redis' security
; to reduce impact if redis gets compromised.
sessions=true
